%h1 Listing enrollments

%table
  %thead
    %tr
      %th Id
      %th Time
      %th Course
      %th User
      %th Rating
      %th Review
      %th Price
      %th Reviewed at
      %th

  %tbody
    - @enrollments.each do |enrollment|
      %tr
        %td= enrollment.id
        %td= enrollment.created_at.strftime('%B %d, %Y- %H:%M')
        %td= link_to enrollment.course, course_path(enrollment.course)
        %td= link_to enrollment.user, user_path(enrollment.user)
        %td 
          - if enrollment.rating
            = enrollment.rating
        %td= enrollment.review
        %td= enrollment.price
        %td
          - if enrollment.updated_at 
            = enrollment.updated_at.strftime('%B %d, %Y- %H:%M')
        %td= link_to 'See Review', enrollment
        %td= link_to 'Adde Review', edit_enrollment_path(enrollment)
        %td= button_to 'Delete', enrollment, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New Enrollment', new_enrollment_path
