%h1 New enrollment
= link_to @course.title, course_path(@course)

= form_tag course_enrollments_path(@course) do
  = submit_tag "Pay #{@course.price}", class: "btn btn-primary"
= link_to 'Back', course_path(@course)
