.card
  .card-header
    - if lesson.completed(current_user)
      Completed
    - else
      Not Completed
    = link_to lesson.title, course_lesson_path(@course, lesson)

  - if policy(lesson).show?
    .card-body
      = lesson.content
      = lesson.course

    - if current_user && policy(lesson.course).edit? && policy(lesson.course).destroy?
      .card-footer
        = link_to 'Edit', edit_course_lesson_path(@course, lesson), class: 'btn btn-sm btn-warning'
        = button_to 'Destroy', course_lesson_path(@course, lesson),data: { confirm: 'Are you sure?' }, method: :delete, class: 'btn btn-sm btn-danger'