.card
  .card-header
    - if lesson.completed(current_user)
      Completed
    - else
      Not Completed
  = lesson.row_order_rank + 1
  = link_to lesson.title, course_lesson_path(@course, lesson)

  - if policy(lesson).show?
    .card-body
      - if lesson.video.attached?
        %video{ controls: 'controls', width: '100%', height: 'auto', poster: url_for(lesson.thumbnail) }
          %source{ src: rails_blob_url(lesson.video), type: 'video/mp4' }
        - if policy(lesson).edit?
          = button_to 'Removed video', video_delete_course_lesson_path(@course, lesson), method: :delete, class: 'btn btn-sm btn-danger'

      = lesson.content
      = lesson.course

  - if current_user && policy(lesson.course).edit? && policy(lesson.course).destroy?
    .card-footer
      = link_to 'Edit', edit_course_lesson_path(@course, lesson), class: 'btn btn-sm btn-warning'
      = button_to 'Destroy', course_lesson_path(@course, lesson), method: :delete, class: 'btn btn-sm btn-danger'
    .card-footer
      = link_to 'Previous', course_lesson_path(@course, lesson.prev_lesson), class: 'btn btn-sm btn-primary' if lesson.prev_lesson
      = link_to 'Next', course_lesson_path(@course, lesson.next_lesson), class: 'btn btn-sm btn-primary' if lesson.next_lesson