.card
  .card-header
    = link_to course.title, course_path(course)
  .card-body
    %small= course.short_description
    %br
    = subscription_btn(course)
    = review_btn(course)
    %br
    = course.level
    %br
    Enrollments:-
    =course.enrollments_count
    %br
  .card-footer
    Lessons:-
    = course.lessons_count
    %br
    Average Rating:-
    = course.average_rating
  .card-footer
    = link_to course.user.username, course.user
    = course.created_at.strftime("%B %d, %Y")
  -if current_user
    - if policy(course).edit? && policy(course).destroy?
      .card-footer
        = link_to "Edit", edit_course_path(course), class: "btn btn-primary" 
        = link_to "Delete", course, method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-danger" 
