.card
  .card-header
    = link_to course.title, course
  .card-body
    = course.description
  .card-footer
    = course.user
    = course.created_at.strftime("%B %d, %Y")
  .card-footer
    = link_to "Edit", edit_course_path(course), class: "btn btn-primary"
    = link_to "Show", course, class: "btn btn-secondary"
    = link_to "Delete", course, method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-danger"
