.card
  .card-header
    = link_to course.title, course
  .card-body
    %small= course.short_description
    %br
    %strong= number_to_currency(course.price)
    %br
    = course.level
  .card-footer
    = course.user
    = course.created_at.strftime("%B %d, %Y")
  .card-footer
    = link_to "Edit", edit_course_path(course), class: "btn btn-primary"
    = link_to "Show", course, class: "btn btn-secondary"
    = link_to "Delete", course, method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-danger"
