- content_for :title do
  Skills Lantern
  \|
  = @course.title
= link_to 'Courses', courses_path
\/
= link_to @course.title, course_path(@course)
%p
  %b Title:
  = @course.title
  - if @course.avatar.attached?
    = image_tag @course.avatar, width: "100px" 
    = @course.avatar.content_type
%p
  %b Description:
  = @course.description

  = link_to 'Add Lesson', new_course_lesson_path(@course, @lesson), class: 'btn btn-primary'

%h4
  .fa.fa-tasks
  = pluralize(@course.lessons_count, 'lesson')
  .float-right
    = number_to_percentage(@course.progress_in_percentage(current_user), precision: 0)
%ul.list-group
  - @lessons.each do |lesson|
    %li.list-group-item
      = render 'lessons/lesson', lesson: lesson
%p
  Reviews:
  - @enrollments_with_review.each do |enrollment|
    = render 'enrollments/enrollment', enrollment: enrollment




